<?xml version="1.0"?>
<!--
/**
 * FormForwarder module config
 *
 * @category   Aydus
 * @package    Aydus_FormForwarder
 * @author     Aydus Consulting <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_FormForwarder>
            <version>1.0.0</version>
        </Aydus_FormForwarder>
    </modules>
     <frontend>
        <routers>
            <formforwarder>
                <use>standard</use>
                <args>
                    <module>Aydus_FormForwarder</module>
                    <frontName>formforwarder</frontName>
                </args>
            </formforwarder>
        </routers>
    </frontend>     
    <global>
        <blocks>
            <aydus_formforwarder>
                <class>Aydus_FormForwarder_Block</class>
            </aydus_formforwarder>
            <formforwarder>
                <class>Aydus_FormForwarder_Block</class>
            </formforwarder>
        </blocks>        
        <helpers>
            <aydus_formforwarder>
                <class>Aydus_FormForwarder_Helper</class>
            </aydus_formforwarder>
            <formforwarder>
                <class>Aydus_FormForwarder_Helper</class>
            </formforwarder>
        </helpers>
    </global>         
</config>